section.splash {
  min-height: 100vh;
  min-width: 100vw;
}


.horse-logo {
  font-size: 2000%;
  object-position: center;
  object-fit: cover;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  padding: 3em;
}

.mainBodyText {
  padding: 3em;
}

@media(max-width: 576px) {
  img {
    padding: unset;
  }
}